$light-color:#fff;
$input-color:lightgrey;
$gold-color:gold;
$dark-color:black;
$dark-color-o: rgba(0, 0, 0, 0.6);
$font-color:grey;
$button-bg_color:rgb(228, 170, 62);
$footer_color:rgb(233, 174, 64);
$footer_blue_color:rgb(37, 37, 90);

$default-text-color: #333;