$light-color:#fff;
$input-color:lightgrey;
$gold-color:gold;
$dark-color:black;
$font-color:grey;
$button-bg_color:rgb(145, 105, 30);
$footer_color:rgb(196, 152, 70);
$footer_blue_color:rgb(78, 78, 121);